// ==============================================// ==============================================
// TOOLS - MIXINS
// ==============================================// ==============================================

//$break-tablet  :  618px;  // ! ------BREAK TABLE
//$break-desktop : 1190px;  // ! ------BREAK DESKTOP

// * RANGOS RESPONSIVES PARA ESTE PROYECTO
// * (Móvil)    SM : 0px      a    600px 
// * (Tablet)   MD : 611px    a    1190px
// * (Desktop)  LG : 1191px   a    infinito

// * de $mq hacia arriba, $mq incluído
@mixin media-to-up ($mq){
    @media ( min-width: $mq ) {
        @content;   
    }
}

// * de $mq hacia abajo, $mq incluído
@mixin media-to-down ($mq){
    @media ( max-width: $mq ) {
        @content;   
    }
}

// * de $mq-min a $mq-max, ambos incluídos
@mixin media-between ($mq-min, $mq-max){
    @media ( min-width: $mq-min ) and (max-width: $mq-max) {
        @content;   
    }
}

// ! SM -----------------------------------
// * de 0px a infinito, (estilos por defecto)
@mixin sm() {
    @content;    
}
// * de 0px a 610px, 610px incluído
@mixin only-sm() {
    @include media-to-down($break-tablet){
        @content;
    }
}

// ! MD -----------------------------------
// * de 611px a infinito, 611px incluído
@mixin md() {
    @include media-to-up($break-tablet + 1){
        @content;
    }
}
// * de 611px a 1190px, 611px y 1190px incluídos
@mixin only-md() {
    @include media-between(($break-tablet + 1), $break-desktop){
        @content;
    }
}

// ! LG -----------------------------------
// * de 1191px a infinito, 1191px incluído
@mixin lg() {
    @include media-to-up($break-desktop + 1){
        @content;
    }
}
@mixin only-lg() {
    @include media-to-up($break-desktop + 1){
        @content;
    }
}



@mixin a-set-values($values){
    @each $key, $val in $values {
        #{$key}: $val;
    }
}

@mixin a-set($values) {

    $values-sm      : map-get($values, 'sm');
    $values-only-sm : map-get($values, 'only-sm');
    
    $values-md      : map-get($values, 'md');
    $values-only-md : map-get($values, 'only-md');
    
    $values-lg      : map-get($values, 'lg');
    $values-only-lg : map-get($values, 'only-lg');
    
    // PHONE
    @include sm{
        @include a-set-values($values-sm);
    }
    @include only-sm{
        @include a-set-values($values-only-sm);
    }
    
    // TABLET
    @include md{
        @include a-set-values($values-md);
    }
    @include only-md{
        @include a-set-values($values-only-md);
    }
    
    // DESKTOP
    @include lg{
        @include a-set-values($values-lg);
    }    
    @include only-lg{
        @include a-set-values($values-only-lg);
    }
}

//AGREGAMOS UN MIXIN ADICIONAL PARA LAS MEDIDAS DE LAS IMAGENES EN UN ASPECTO DE RADIO DE 56.25%=16:9
@mixin a-aspect-radio($padding-bottom:56.25%){
    &::before{
        content:"";
        display:block;
        padding-top: $padding-bottom;
    }
}
//MIXIN PARA QUITAR ESTILOS EJEMPLO DE UN BOTON
@mixin a-unstyled-field{
    appearance: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    cursor: default;
    outline:0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    text-align: inherit;
}



