
:root{
    @include a-set($root-vars);
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

::selection{
    color:var(--color-white);
    background-color: var(--color-black);
}

.box{
    border:1px solid green;
    font-size: 40px;
    line-height: 50px;
}